<tr>
	<td><%= product_counter + calculate_page(params[:page]) %></td>
	<td><%= product.prod_type.name %></td>
	<td><%= product.name %></td>
	<td><%= "#{product.price} #{t('.dollars', default: 'Dollars')}" %></td>
	<td> <%= link_to t('.edit', default: 'Edit'), edit_product_path(product), class: 'btn btn-success btn-xs' %> </td>
</tr>