<div id="trades-shopping-cart" class="row">
	<!-- form -->
	<%= form_tag add_trade_item_path(@member), remote: true, method: :get, id:'trades-form', :class => 'form-horizontal' do %>
	<div class="form-group">
		<div class="col-sm-2 control-label">
			<%= label_tag t('.trade-date', default: 'Trade Date') %>
		</div>
		<div class="col-sm-10">
			<%= text_field_tag :trade_date, Date.today, class: 'form-control',:readonly => true %>
		</div>
	</div>
	<div class="form-group">
		<div class="col-sm-2 control-label">
			<%= label_tag t('.product-type', default: 'Product type') %>
		</div>
		<div class="col-sm-10">
			<%= select_tag :product_type, options_from_collection_for_select(ProdType.order_by(:name => 'desc'), :id, :name),
			prompt: t('.please-select-type', default: 'Please select'),
			class: "form-control" %>
		</div>
	</div>
	<div class="form-group" id="product_input">
		<div class="col-sm-2 control-label">
			<%= label_tag t('.product-id', default: 'Product') %>
		</div>
		<div class="col-sm-10">
			<%= select_tag :product_id, option_groups_from_collection_for_select(ProdType.order_by(:name => 'desc'), :products, :name, :id, :name),
			prompt: t('.please-select-product', default: 'Please select'),
			class: "form-control"%>

			<p id="message" class="control-label-left">
				<%= t('.cant-found', default: 'Cant found')%>
			</p>
		</div>
	</div>
	<div class="form-group" id="price_input">
		<div class="col-sm-2 control-label">
			<%= label_tag t('.price', default: 'Price') %>
		</div>
		<div class="col-sm-10">
			<%= text_field_tag :current_price, "0", class: 'form-control',:readonly => true %>
			<%= hidden_field_tag :product%>
		</div>
	</div>
	<div class="form-group">
		<div class="col-sm-2 control-label">
			<%= label_tag t('.amount', default: 'Amount') %>
		</div>
		<div class="col-sm-10">
			<%= number_field_tag :amount, 1, min: 1, class: "form-control", placeholder: t('.enter_the_product_amount', default: "Enter the product amount") %>
		</div>
	</div>
	<div class="form-group">
		<div class="col-sm-offset-2 col-sm-10">
			<%= button_tag(type: :submit, class: 'btn btn-primary btn-block', id: 'trade_submit') do %>
			<%= t('.add', default: 'Add a new trade')%>
			<% end %>
		</div>
	</div>
	<% end %>
	<!-- form end -->
	<%= render 'shared/spinner'%>
	<!-- resault -->
	<div id="trades-results">
		<%= render 'shopping_cart' %>
	</div>
	<div id="trades-errors"></div>
</div>
