
<h2><%= t('.title', default: "New Trade") %></h2>
<hr />
<%= render 'members/member'%>
<%= render 'form' %>
<%= form_for(@trade, :html => {class: "form-horizontal", role: "form"}, :url => {:action => "create", :id => @member} ) do |f| %>
	<div class="form-group">
		<div class="col-sm-offset-2 col-sm-10">
			<%= f.submit t('.submit', default: 'Submit'), class: 'btn btn-warning btn-block' %>
		</div>
	</div>
<% end %>

