<div class="well">
	<div class="row">
		<div class="col-md-2 col-right">
			<%= t('.full_name', default: "Full name：")%>
		</div>
		<div class="col-md-4">
			<%= @member.full_name %>
		</div>
	</div>
	<div class="row member-top">
		<div class="col-md-2 col-right">
			<%= t('.phone', default: "Phone：")%>
		</div>
		<div class="col-md-4">
			<%= @member.phone %>
		</div>
	</div>
	<div class="row member-top">
		<div class="col-md-2 col-right">
			<%= t('.birthdate', default: "Birthdate：")%>
		</div>
		<div class="col-md-4">
			<%= @member.birthdate %>
		</div>
	</div>
	<div class="row member-top">
		<div class="col-md-2 col-right">
			<%= t('.coin', default: "Coin：")%>
		</div>
		<div class="col-md-4">
			<%= @member.coin %>
		</div>
	</div>
</div>



